<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Landmark</title>
</head>
<body>
  <h1>Create a New landmark</h1>

<form action="/landmarks" method="post">
  <h2>Landmark name: <input type="text" name="landmark[name]" id="landmark_name"></input></h2>

  <h2>Year completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></input></h2>
 
  
  <input type="submit" value="Create New Landmark">

  </form>
  
</body>
</html>