<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NYC Figures</title>
</head>
<body>
  <h3>Important Figures:</h3>
    <ol>
      <%@figures. each do |figure|%>
      <li><%=figure.name%></li>
      <%end%>
      
    </ol>
  
</body>
</html>